nav.navbar.navbar-expand-lg.navbar-light.bg-light
  h3
    a.topnavtitle(href='/') EVENT
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNavDropdown
    ul.navbar-nav.ml-auto
      li.nav-item.border.border-top-0.border-bottom-0.dropdown
        button#droprecommend.btn.dropdown-toggle.m-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Recommendation
        .dropdown-menu(aria-labelledby='droprecommend')
          a.dropdown-item(href='/event/recommendation?topic=numLikes') 좋아요 추천
          a.dropdown-item(href='/event/recommendation?topic=numAnswers') 댓글순 추천
          a.dropdown-item(href='/event/recommendation?topic=numReads') 읽은 사람순 추천
          a.dropdown-item(href='/event/recommendation?topic=numAttendance') 참가자순 추천
         
      li.nav-item.border.border-top-0.border-bottom-0
        a.nav-link.m-2(href='/event') BROWSE EVENTS
      li.nav-item.border.border-top-0.border-bottom-0
        a.nav-link.m-2(href='#') HELP
      if (!currentUser)
        li.nav-item.border.border-top-0.border-bottom-0
          a.nav-link.m-2(href='/signin') SIGNIN
      else
        //- 로그인 후 마이페이지 드롭 박스
        li.dropdown.border.border-top-0.border-bottom-0
          button#dropdownMenuButton.btn.dropdown-toggle.m-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{currentUser.name}
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href=`/users/join/${currentUser._id}`) Join
            a.dropdown-item(href=`/users/favorite/${currentUser._id}`) Favorite
            a.dropdown-item(href=`/users/show/${currentUser._id}`) Profile
            a.dropdown-item(href=`/users/management/${currentUser._id}`) management
            a.dropdown-item(href=`/users/myevent/${currentUser._id}`) Mange Events
            a.dropdown-item(href=`/users/setting/${currentUser._id}`) Account Settings
            a.dropdown-item(href='/signout') Log out

        li.nav-item.border.border-top-0.border-bottom-0
          a.nav-link.m-2.text-primary(href='/event/newevent') CREATE EVENT