extends layout

block content

    main.img
    #carouselExampleSlidesOnly.carousel.slide.main_img(data-ride='carousel')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='images/main_img/first_img.jpg', alt='First slide')
            |       
            .carousel-item
                img.d-block.w-100(src='images/main_img/second_img.jpg', alt='Second slide')
            |       
            .carousel-item
                img.d-block.w-100(src='images/main_img/third_img.jpg', alt='Third slide')
    |   
    .main_search.card.m-5.p-0.col-lg-10.mx-auto
        .card-body.border-0.bg-white
            h3#exprience.display-3.text-center.m-4 Find your next experience
            |       
            .col-center
                .input-group
                    //- form()
                    form.form-inline.search-input-group.mx-auto(action='/event', method='GET')                      
                      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search events or categories', aria-label='Search', value=term)
                      button.btn.btn-success.btn-lg(type='submit') Search                    
    |   
    .main_search_min
        h3.text-center Find your next experience
        |       
        ul.nav.m-3
            li.nav-item
                input.form-control.mr-sm-2(type='text', placeholder='Search events or categories', aria-label='Search')
            |         
            |         
            li.nav-item
                button.btn.btn-success.btn-lg.my-2.my-sm-0(type='submit') Search
    |   
    h1.text-center.m-2.p-2 Popular Events
    |   
    .col-10.mx-auto
      each event in events
        .card.col-4.card_main.border.border-dark.m-3
          img.card-img-top.main_card_img(src=event.img[0], alt='Card image cap')
          |           
          .card-body.border.border-dark
              h3.card-title
                a(href=`/event/${event.id}`)=event.title
                        
              p.card-text=event.locate
              p.card-text=event.detail_address
          |           
          .card-footer
            -var time = `${event.start_time.date} ~ ${event.end_time.date}`
              small.text-muted=time
    

    .col-3.mx-auto
      a.btn.btn-outline-primary.btn-lg.col-12.mx-auto(type='button' href='/event') SEE MORE
       
    h1.text-center.m-2.p-2 Brows by To Categories
    |   
    .col-lg-10.mx-auto
        .card-deck
            .col-lg-8.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/music.jpg', alt='Card image music')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-white MUSIC
            |       
            .col-lg-4.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/art.jpg', alt='Card image art')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-brack ART
            |       
            .col-lg-4.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/party.jpg', alt='Card image party')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-white PARTY
            |       
            .col-lg-4.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/food.jpg', alt='Card image food')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-white FOOD
            |       
            .col-lg-3.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/sport.jpg', alt='Card image sport')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-white SPORT
            |       
            .col-lg-4.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/drink.jpg', alt='Card image drink')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-drak DRINK
            |       
            .col-lg-8.mx-auto
                .card.border-0
                    img.card-img.rounded(src='images/low_bar/networking.jpg', alt='Card image network')
                    |           
                    .card-img-overlay
                        h4.card-title.text-center.text-drak NETWORK
    |   
    