extends layout

block content

    main.img
    #carouselExampleSlidesOnly.carousel.slide.main_img(data-ride='carousel')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='images/main_img/first_img.jpg', alt='First slide')
            |       
            .carousel-item
                img.d-block.w-100(src='images/main_img/second_img.jpg', alt='Second slide')
            |       
            .carousel-item
                img.d-block.w-100(src='images/main_img/third_img.jpg', alt='Third slide')
    |   
    .main_search.card.m-5.p-0.col-lg-10.mx-auto
        .card-body.border-0.bg-white
            h2#exprience.d-none.d-md-block.display-3.text-center.m-4 Find your next experience
            h2#exprience.d-md-none.text-center.m-4 Find your next experience
            |       
            .col-center
                .input-group
                    //- form()
                    form.form-inline.search-input-group.mx-auto(action='/event', method='GET')                      
                      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search events or categories', aria-label='Search', value=term)
                      button.btn.btn-success.btn-lg(type='submit') Search                    
    |   
    h1.text-center.m-2.p-2  Events
    |   
    .col-10.mx-auto
      -var num = 0;
      each event in events
        //- 메인페이지 뜨는 이벤트는 최대 6개로 한정
        if num < 6
          .card.col-sm-12.col-md-5.col-lg-4.mx-auto.card_main.border.border-dark.m-3
            img.card-img-top.main_card_img(src=event.img[0], alt='Card image cap')
            |           
            .card-body.border.border-dark
                h3.card-title
                  a(href=`/event/${event.id}`)=event.title
                          
                p.card-text=event.locate
                p.card-text=event.detail_address
            |           
            .card-footer
              -var time = `${event.start_time.date} ~ ${event.end_time.date}`
                small.text-muted=time
              
        -num++
      

    .col-md-3.col-10.mx-auto
      a(href='/event')
        button.btn.btn-outline-primary.col-12.mx-auto(type='button' ) SEE MORE
       
    //-  이벤트 추천을 넣는다.
    h1.text-center.m-2.p-2 Brows by To Recommendation
    |   
    .col-lg-10.mx-auto
    
      .card.col-lg-8.img_card.border-0
        a(href='/event/recommendation?topic=numLikes')
          img.card-img.rounded(src='images/like.jpg', alt='Card image like')
          |           
          .card-img-overlay
              h4.card-title.text-center.text-brack 좋아요      

      .card.col-lg-4.img_card.border-0
        a(href='/event/recommendation?topic=numAnswers')
          img.card-img.rounded(src='images/comment.jpg', alt='Card image comment')
          |           
          .card-img-overlay
              h4.card-title.text-center.text-white 댓글
    
      .card.img_card.col-lg-4.border-0
        a(href='/event/recommendation?topic=snumAttendance')
          img.card-img.rounded(src='images/join.jpg', alt='Card image join')
          |           
          .card-img-overlay
              h4.card-title.text-center.text-brack 참여자
  
      
      .card.img_card.col-lg-8.border-0
        a(href='/event/recommendation?topic=numRead')
          img.card-img.rounded(src='images/read.jpg', alt='Card image read')
          |           
          .card-img-overlay
              h4.card-title.text-center.text-white READ