.comment.card(id= comment.id)

  .card-body
    .content= comment.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
          | commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
          if comment.author
            | 
            | by #[a(href=`/users/show/${comment.author.id}`)= comment.author.name]
            p
              a.btn.btn-primary(data-toggle='collapse', href=`#${num}`, aria-expanded='false', aria-controls=`${num}`)
                  | Answer
              div(id=`${num}` class='collapse')
                each answer in comment.answer
                  include _answer
                form(action=`/event/${comment.id}/answer`, method='POST')
                  .form-group
                    label(for='answer') Your answer
                    textarea.form-control(name="content", rows="2")
                  button.btn.btn-color(type="submit") Post Your answer
          
          if currentUser && comment.author && comment.author.id == currentUser.id       
            a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/event/comment/${comment._id}?_method=DELETE`)
              | #[i.fa.fa-trash] 댓글 삭제
            