include ./_img

.content.col-10.mx-auto
  h1.main-title=event.title
  -var info=`이벤트 종류 : ${event.event_type} , 이벤트 분야 : ${event.event_field} , 최대 참석자 : ${event.attendance_max}`
  p=info
 
  hr
  h4.m-2
    label(for='time') 행사 기간
    -var time = `${event.start_time.date} / ${event.start_time.time} ~ ${event.end_time.date} / ${event.end_time.time}`
    p=time

  
.content.col-10.mx-auto
  hr
  h2(for='info') 행사 소개
  p !{event.info}

  hr
  h3.m-3
    -var organize=`행사 주최 단체 : ${event.organize}`
    p=organize
    p !{event.organize_info}  

  hr
  h3.m-3
    |티켓 가격:
    if(event.ticket.free)
      |free
    else
      -var ticket=`${event.ticket.name} : ${event.ticket.cost}`
      p=ticket

  hr
  h4.m-2
    label(for='locate') 행사 장소
  -var address = `${event.locate} ${event.detail_address}`
  p=address
  include ./_map

.row.col-10.mx-auto
  .col-sm
    .numbers.
        #[span.number.num-votes= event.numAttendance] attendance,
        #[span.number.num-votes= event.numLikes] likes,
        #[span.number.num-answers= event.numComments] comments,
        #[span.number.num-views= event.numReads] reads
  .col-sm
    .author
      | write on #{moment(event.createdAt).format('YYYY-MM-DD')}
      if event.author
        | 
        | by #[a(href=`/users/${event.author.id}`)= event.author.name] 
