extends ../layout

block content
    .container
        h1.main-title=event.title

        .event.show
            include _eventshow

            .buttons
                if currentUser
                    button.btn.btn-primary.event-join-btn(data-id=event.id) 
                        span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
                        span #[i.fa.fa-thumbs-up] Join
                    button.btn.btn-primary.event-like-btn(data-id=event.id) 
                        span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
                        span #[i.fa.fa-thumbs-up] Like
                    
                    if event.author && event.author.id == currentUser.id
                        | 
                        a.btn.btn-outline-secondary(href=`/event/${event.id}/edit`) Edit
                        | 
                        a.btn.btn-outline-danger.need-confirm-btn(href=`/event/${event.id}?_method=delete`) Delete
            
                        button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                            | 참가자 명단
                        #collapseExample.collapse
                            .card.card-body
                                each attendant in attendants   
                                    .card.card-body                    
                                        p=attendant.author.name
                                        p=attendant.createdAt
        //- if event.numAnswers > 0
        //-     hr
        //-     h3 #{event.numAnswers} Answer(s)
        //-     .answers.show
        //-         each answer in answers
        //-         include _answer

        //- form(action=`/event/${event.id}/answers`, method='POST')
        //-     .form-group
        //-         label(for='answer') Your Answer
        //-         textarea.form-control(name="content", rows="5")
        //-     button.btn.btn-primary(type="submit") Post Your Answer

        //- script(src='/javascripts/evnet_client.js')
    script(src='/javascripts/event_client.js')

